Repository alexandru-savinov/BalancedNewsGo: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-fmt, go-vet, go-unit-tests

.pre-commit-config.yaml:

exclude: '^(node_modules|p|backup)/'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.3.0"
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: "^go\\.mod$"
        pass_filenames: false
      - id: go-fmt
        name: go fmt
        entry: go fmt
        language: system
        files: "^(cmd|internal)/.*\\.go$"
        args: ["./..."]
        pass_filenames: false
      - id: go-vet
        name: go vet
        entry: go vet
        language: system
        files: "^(cmd|internal)/.*\\.go$"
        args: ["./..."]
        pass_filenames: false
      - id: go-unit-tests
        name: go unit tests
        entry: bash
        language: system
        args: ["-c", "export NO_AUTO_ANALYZE=true && go test -count=1 ./cmd/... ./internal/api/... ./internal/apperrors/... ./internal/balancer/... ./internal/db/... ./internal/import_labels/... ./internal/metrics/... ./internal/models/... ./internal/rss/... ./internal/testing/... ./internal/tests/... -run . -short -timeout 2m"]
        files: "^(cmd|internal)/.*\\.go$"
        pass_filenames: false
        require_serial: true

Add Jest dev dependency (#76)
  package-lock.json
  package.json
Due: none

Update cmd/query_scores/main.go
  cmd/query_scores/main.go
Due: go-fmt, go-vet, go-unit-tests

Add accessibility fix files and update .gitignore to exclude problematic files
  .gitignore
  ACCESSIBILITY_FIX_COMPLETE.md
  cmd/check_articles/main.go
  debug_server.sh
  docs/archive/potential_improvements.md
  jest.config.js
  jest.setup.js
  test_accessibility_fix.js
  verify_fix.js
  web/CLEANUP_PLAN.md
  web/CLEANUP_SUMMARY.md
  web/analyze_duplicates.sh
  web/cleanup_duplicates.sh
  web/css/styles.css
Due: go-fmt, go-vet, go-unit-tests

Fix SQLITE_BUSY errors with comprehensive retry logic
  docs/PR/sqlite_busy_resolution_plan.md
  go.mod
  go.sum
  internal/api/api.go
  internal/db/db.go
Due: go-mod-tidy, go-fmt, go-vet, go-unit-tests

Chore: Staging changes for workspace error resolution
  docs/swagger.yaml/docs.go
  docs/swagger.yaml/swagger.json
  docs/swagger.yaml/swagger.yaml
  go.mod
  go.sum
  internal/api/api.go
  internal/api/docs/swagger.yaml
  internal/api/hardened_client.go
  internal/api/internal/api/generated/client.gen.go
  internal/api/internal/api/generated/dummy.go
  internal/api/models.go
  internal/models/progress.go
  openapitools.json
Due: go-mod-tidy, go-fmt, go-vet, go-unit-tests

EMERGENCY: Initial backup before recovery - documenting all issues
  docs/PR/PROJECT_ISSUES_ANALYSIS.md
  docs/PR/QUICK_FIX_TRACKER.md
  docs/PR/RECOVERY_ACTION_PLAN.md
  jest.config.js
  test_frontend_actual.js
  test_frontend_sync.js
  test_template_validation.go
  validate_templates.go
  web/js/components/Navigation.test.js
Due: none

🔧 Fix template PubDate error: Change InternalArticle.PubDate from string to time.Time
  .emergency-backup/20250614-1053/client_comprehensive_test.go
  .emergency-backup/20250614-1053/docs.go
  .emergency-backup/20250614-1053/validate_templates.go
  EMERGENCY_RECOVERY_COMPLETE.md
  cmd/score_articles/main.go
  cmd/test_reanalyze/main.go
  emergency_validation.ps1
  internal/api/api_route_test.go
  internal/api/emergency_stubs.go
  internal/api/internal_client.go
  simple_build_test.ps1
Due: go-fmt, go-vet, go-unit-tests

📄 Add template fix verification report and documentation
  TEMPLATE_FIX_COMPLETE.md
Due: none

🔥 CRITICAL FIX: Remove duplicate scoreProgressSSEHandler functions
  internal/api/emergency_stubs.go
Due: go-fmt, go-vet, go-unit-tests

📄 Add comprehensive PR summary for emergency recovery
  PR_SUMMARY.md
Due: none

📋 Add quick PR summary for emergency recovery
  PR_QUICK_SUMMARY.md
Due: none

🔒 SECURITY: Fix JavaScript dynamic code execution vulnerabilities
  SECURITY_FIX_NAVIGATION_TESTS.md
  cmd/score_articles/main.go
  internal/api/emergency_stubs.go
  package-lock.json
  package.json
  test_accessibility_fix.js
  web/js/components/Navigation.test.js
Due: go-fmt, go-vet, go-unit-tests

Emergency recovery 20250614 1052 (#77)
  .emergency-backup/20250614-1053/client_comprehensive_test.go
  .emergency-backup/20250614-1053/docs.go
  .emergency-backup/20250614-1053/validate_templates.go
  EMERGENCY_RECOVERY_COMPLETE.md
  PR_QUICK_SUMMARY.md
  PR_SUMMARY.md
  SECURITY_FIX_NAVIGATION_TESTS.md
  TEMPLATE_FIX_COMPLETE.md
  cmd/score_articles/main.go
  cmd/test_reanalyze/main.go
  docs/PR/PROJECT_ISSUES_ANALYSIS.md
  docs/PR/QUICK_FIX_TRACKER.md
  docs/PR/RECOVERY_ACTION_PLAN.md
  emergency_validation.ps1
  internal/api/api_route_test.go
  internal/api/emergency_stubs.go
  internal/api/internal_client.go
  jest.config.js
  package-lock.json
  package.json
  simple_build_test.ps1
  test_accessibility_fix.js
  test_frontend_actual.js
  test_frontend_sync.js
  test_template_validation.go
  web/js/components/Navigation.test.js
Due: go-fmt, go-vet, go-unit-tests

Security update: Upgrade dependencies to address vulnerabilities
  SECURITY_UPDATE_REPORT.md
  go.mod
  go.sum
Due: go-mod-tidy

feat: implement comprehensive test improvements and E2E test suite
  PHASE2_SUCCESS_SUMMARY.md
  cmd/server/template_handlers_api_test.go
  internal/api/api_handler_legacy_test.go
  internal/api/api_route_test.go
  internal/api/emergency_stubs.go
  internal/api/wrapper/methods.go
  package-lock.json
  package.json
  scripts/run-tests-with-status.ps1
  tests/api_integration_test.go
  tests/e2e/accessibility.spec.ts
  tests/e2e/htmx-functionality.spec.ts
  tests/e2e/mobile-responsiveness.spec.ts
  tests/e2e/performance.spec.ts
  tests/global-setup.ts
  tests/global-teardown.ts
  tests/integration_test.go
  tests/utils/htmx-helpers.ts
Due: go-fmt, go-vet, go-unit-tests

Fix template loading issue for /articles endpoint
  cmd/server/main.go
  cmd/server/template_handlers.go
  internal/api/client/models.go
  internal/api/wrapper/models.go
  internal/db/db.go
  playwright-results.json
  tests/article-feed.e2e.spec.ts
  tests/basic-e2e.spec.ts
  tests/basic-functionality.spec.ts
  tests/e2e/htmx-functionality.spec.ts
  tests/e2e/htmx-integration.spec.ts
  tests/e2e/mobile-responsiveness-simple.spec.ts
  tests/e2e/mobile-responsiveness.spec.ts.backup
  tests/global-teardown.ts
Due: go-fmt, go-vet, go-unit-tests

Update documentation cross links
  CONTRIBUTING.md
  README.md
  docs/codebase_documentation.md
  docs/configuration_reference.md
  docs/deployment.md
  docs/integration_testing.md
  docs/testing.md
Due: none

refactor: reduce function nesting in HTMX tests to fix SonarLint warning
  tests/e2e/htmx-functionality.spec.ts
Due: none

Comprehensive test suite improvements and backend enhancements
  Dockerfile
  cmd/server/main.go
  cmd/server/template_handlers.go
  debug-mobile-test.js
  docs/PR/test_remediation_plan.md
  package-lock.json
  package.json
  playwright-results.json
  test-minimal.js
  test-results.json
  tests/basic-e2e.spec.ts
  tests/basic-functionality.spec.ts
  tests/e2e/accessibility.spec.ts
  tests/e2e/htmx-integration.spec.ts
  tests/e2e/mobile-responsiveness.spec.ts
  tests/e2e/performance.spec.ts
  tests/htmx-e2e.spec.ts
  tests/htmx-integration.spec.ts
  tests/htmx-performance-accessibility.spec.ts
  tests/minimal/test-minimal.spec.js
  tests/utils/htmx-helpers.ts
Due: go-fmt, go-vet, go-unit-tests

Fix linting issues and improve code quality
  .golangci.yml
  Makefile
  internal/api/wrapper/integration_test.go
Due: go-fmt, go-vet, go-unit-tests

fix
  .github/workflows/ci.yml
  docs/ci-cd-setup.md
Due: none

Fix integration test failures
  cmd/server/main.go
  internal/testing/server_test_utils.go
  tests/api_integration_test.go
  tests/integration_test.go
Due: go-fmt, go-vet, go-unit-tests

Update CI/CD documentation with latest integration test fixes
  docs/ci-cd-setup.md
Due: none

Fix database integration tests
  tests/integration_test.go
Due: none

fix: comprehensive CI/CD pipeline fixes
  .github/workflows/ci.yml
  .github/workflows/go-ci.yml
  Dockerfile
  Dockerfile.app
  internal/api/api_route_test.go
  package-lock.json
  package.json
  tests/basic-e2e.spec.ts
  tests/htmx-e2e.spec.ts
  tests/htmx-integration.spec.ts
Due: go-fmt, go-vet, go-unit-tests

fix: improve CI/CD pipeline configuration
  .github/workflows/ci.yml
Due: none

feat: major progress on integration tests - 3/5 tests now passing
  cmd/server/main.go
  internal/testing/server_test_utils.go
  test_server_debug.go
  tests/api_integration_test.go
Due: go-fmt, go-vet, go-unit-tests

Fix CI/CD pipeline issues: Add missing LLM environment variables and resolve SQL schema error
  .github/workflows/ci.yml
  .github/workflows/go-ci.yml
  Tasks_2025-06-21T21-07-01.md
  internal/llm/llm.go
  internal/testing/server_test_utils.go
  test_server_debug.go
  tests/api_integration_test.go
Due: go-fmt, go-vet, go-unit-tests

feat: Configure secure GitHub Secrets for LLM API keys in CI/CD
  .github/workflows/ci.yml
  .github/workflows/go-ci.yml
  cmd/benchmark/main.go
  docs/CI_CD_SECRETS_SETUP.md
  internal/benchmark/benchmark.go
Due: go-fmt, go-vet, go-unit-tests

fix: Make ensemble test CI-aware to handle NO_AUTO_ANALYZE environment
  tests/api_integration_test.go
Due: none

fix: CI/CD test environment awareness
  .github/workflows/ci.yml
  .github/workflows/go-ci.yml
  tests/api_integration_test.go
  tests/integration_test.go
Due: none

security: Remove hardcoded PostgreSQL passwords and fix CI/CD architecture
  .github/workflows/ci.yml
Due: none

fix: Update reanalyze test to expect 200 in CI environment
  tests/api_integration_test.go
Due: none

fix: Add proper server cleanup and timeout handling for CI/CD tests
  internal/testing/server_test_utils.go
  tests/api_integration_test.go
Due: go-fmt, go-vet, go-unit-tests

fix: Add proper shutdown mechanism to ProgressManager to resolve CI/CD test I/O timeout
  cmd/server/main.go
  internal/llm/progress_manager.go
  internal/llm/progress_manager_test.go
  tests/api_integration_test.go
Due: go-fmt, go-vet, go-unit-tests
