Repository alexandru-savinov/BalancedNewsGo: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-fmt, go-vet, golangci-lint, staticcheck, go-unit-tests

.pre-commit-config.yaml:

exclude: '^(node_modules|p|backup)/'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.3.0"
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: "^go\\.mod$"
        pass_filenames: false
      - id: go-fmt
        name: go fmt
        entry: go fmt
        language: system
        files: "^(cmd|internal)/.*\\.go$"
        args: ["./..."]
        pass_filenames: false
      - id: go-vet
        name: go vet (CI-style)
        entry: go vet
        language: system
        files: "^(cmd|internal)/.*\\.go$"
        args: ["-composites=false", "./..."]
        pass_filenames: false
      - id: golangci-lint
        name: golangci-lint (CI-style)
        entry: C:\Users\Alexander.Savinov\go\bin\golangci-lint.exe
        language: system
        files: "^(cmd|internal)/.*\\.go$"
        args: ["run", "--timeout=5m", "--skip-files=", "--tests=true"]
        pass_filenames: false
      - id: staticcheck
        name: staticcheck
        entry: staticcheck
        language: system
        files: "^(cmd|internal)/.*\\.go$"
        args: ["./..."]
        pass_filenames: false
      - id: go-unit-tests
        name: go unit tests (CI-style)
        entry: make unit-ci
        language: system
        files: "^(cmd|internal)/.*\\.go$"
        pass_filenames: false
        require_serial: true

Update tests/e2e/admin-dashboard-comprehensive.spec.ts
  tests/e2e/admin-dashboard-comprehensive.spec.ts
Due: none

Fix CI/CD pipeline issues
  .github/workflows/ci.yml
  .github/workflows/go-ci.yml
  playwright.config.ts
  tests/e2e/admin-dashboard-comprehensive.spec.ts
Due: none

refactor: remove Go unit testing from SonarCloud Security Analysis
  .github/workflows/sonarcloud.yml
Due: none

security: Fix log injection vulnerabilities and reduce cognitive complexity
  ci-cd-fix-summary.sh
  internal/api/admin_handlers.go
  internal/api/api.go
  test-admin-debug.js
Due: go-fmt, go-vet, golangci-lint, staticcheck, go-unit-tests

clean: Remove temporary debug files
  ci-cd-fix-summary.sh
  test-admin-debug.js
Due: none

Fix trailing whitespace in admin handlers and API code
  internal/api/admin_handlers.go
  internal/api/api.go
Due: go-fmt, go-vet, golangci-lint, staticcheck, go-unit-tests

Fix CI/CD Pipeline timeout issues
  .github/workflows/ci.yml
  internal/api/wrapper/integration_test.go
Due: go-fmt, go-vet, golangci-lint, staticcheck, go-unit-tests

Fix accessibility color contrast issues
  static/css/app-consolidated.css
Due: none

Fix TestAdminRefreshFeedsHandlerBasic race condition
  internal/api/admin_handlers_basic_test.go
Due: go-fmt, go-vet, golangci-lint, staticcheck, go-unit-tests

Fix E2E test JavaScript error in mobile responsiveness tests
  tests/e2e/mobile-responsiveness.spec.ts
Due: none

Fix progress indicator test for CI environment
  tests/progress-indicator.spec.ts
Due: none

Fix HTMX integration and reanalysis button E2E tests
  tests/e2e/htmx-integration.spec.ts
  tests/e2e/reanalysis-button-real-user.spec.ts
Due: none

Fix final E2E test failures - achieve 100% pass rate
  tests/e2e/admin-dashboard-comprehensive.spec.ts
  tests/e2e/reanalysis-button-real-user.spec.ts
Due: none

Fix reanalysis button tests for CI environment - achieve 100% E2E test success
  tests/e2e/reanalysis-button-real-user.spec.ts
Due: none

Add robust CI environment handling for reanalysis button tests
  tests/e2e/reanalysis-button-real-user.spec.ts
Due: none

Fix final 2 E2E test failures with enhanced timeout and polling
  tests/e2e/reanalysis-button-real-user.spec.ts
Due: none

Fix reanalysis button CI failures by adding missing LastUpdated field
  internal/api/api.go
Due: go-fmt, go-vet, golangci-lint, staticcheck, go-unit-tests

Replace log statements with safeLogf for improved logging security in getArticlesHandler
  internal/api/api.go
Due: go-fmt, go-vet, golangci-lint, staticcheck, go-unit-tests

feat: Add comprehensive admin dashboard E2E tests and improvements (#95)
  .github/workflows/ci.yml
  .github/workflows/go-ci.yml
  .github/workflows/sonarcloud.yml
  admin_coverage
  cmd/server/template_handlers.go
  coverage
  docs/PR/admin-backend-implementation.md
  internal/api/admin_handlers.go
  internal/api/admin_handlers_basic_test.go
  internal/api/api.go
  internal/api/coverage
  internal/api/wrapper/integration_test.go
  playwright.config.ts
  static/css/app-consolidated.css
  templates/admin.html
  tests/e2e/admin-dashboard-comprehensive.spec.ts
  tests/e2e/htmx-integration.spec.ts
  tests/e2e/mobile-responsiveness.spec.ts
  tests/e2e/reanalysis-button-real-user.spec.ts
  tests/progress-indicator.spec.ts
Due: go-fmt, go-vet, golangci-lint, staticcheck, go-unit-tests

fix: Handle 'Skipped' status in ProgressIndicator for CI/CD compatibility
  static/js/components/ProgressIndicator.js
Due: none

fix: Update progress indicator test for CI environment
  tests/progress-indicator.spec.ts
Due: none

fix: Prevent race condition in progress indicator event listeners
  templates/article.html
Due: none

Standardize SQLite drivers to pure Go (modernc.org/sqlite)
  cmd/ingest_feedback/main.go
  cmd/migrate_feedback_schema/main.go
  cmd/score_articles/main.go
  docs/PR/migrate-to-buildpacks-prp.md
  internal/testing/database.go
Due: go-fmt, go-vet, golangci-lint, staticcheck, go-unit-tests

Analyze Multi-Binary Challenge for buildpack migration
  docs/PR/migrate-to-buildpacks-prp.md
  docs/PR/multi-binary-challenge-analysis.md
  go.mod
Due: go-mod-tidy

Enhance PRP with critical file system and environment dependencies
  docs/PR/migrate-to-buildpacks-prp.md
Due: none

feat: Complete buildpack migration implementation - Replace Docker with Cloud Native Buildpacks
  .github/workflows/ci.yml
  Dockerfile
  Dockerfile.app
  Makefile
  README.md
  docs/PR/admin-backend-implementation.md
  docs/PR/buildpack-phase1-validation-results.md
  docs/PR/buildpack-phase2-environment-validation-results.md
  docs/PR/buildpack-phase3-database-persistence-validation-results.md
  docs/PR/buildpack-phase3-validation-summary.md
  docs/buildpack-troubleshooting.md
  docs/deployment.md
  project.toml
  test-data-phase3/backup-test/news.db.backup
  test-data-phase3/backup-test/news.db.restored
Due: none

fix: Update buildpack CI/CD test to work with distroless containers
  .github/workflows/ci.yml
Due: none

fix: Improve buildpack CI/CD test robustness and error handling
  .github/workflows/ci.yml
Due: none

security: fix log injection vulnerability in safeLogf function
  internal/api/api.go
Due: go-fmt, go-vet, golangci-lint, staticcheck, go-unit-tests

feat: Complete buildpack migration implementation (#97)
  .github/workflows/ci.yml
  Dockerfile
  Dockerfile.app
  Makefile
  README.md
  cmd/ingest_feedback/main.go
  cmd/migrate_feedback_schema/main.go
  cmd/score_articles/main.go
  docs/PR/admin-backend-implementation.md
  docs/PR/buildpack-phase1-validation-results.md
  docs/PR/buildpack-phase2-environment-validation-results.md
  docs/PR/buildpack-phase3-database-persistence-validation-results.md
  docs/PR/buildpack-phase3-validation-summary.md
  docs/PR/migrate-to-buildpacks-prp.md
  docs/PR/multi-binary-challenge-analysis.md
  docs/buildpack-troubleshooting.md
  docs/deployment.md
  go.mod
  internal/api/api.go
  internal/testing/database.go
  project.toml
  test-data-phase3/backup-test/news.db.backup
  test-data-phase3/backup-test/news.db.restored
Due: go-mod-tidy, go-fmt, go-vet, golangci-lint, staticcheck, go-unit-tests

added openrouter to firewall allowed
  .copilot/firewall.json
  docs/PR/buildpack-phase1-validation-results.md
  docs/PR/buildpack-phase2-environment-validation-results.md
  docs/PR/buildpack-phase3-database-persistence-validation-results.md
  docs/PR/buildpack-phase3-validation-summary.md
  docs/PR/migrate-to-buildpacks-prp.md
  docs/PR/multi-binary-challenge-analysis.md
Due: none

feat: Implement comprehensive source management system with HTMX UI
  cmd/server/main.go
  docs/PR/source_management_prp.md
  docs/PR/source_management_spec.md
  docs/PR/source_management_tasks.md
  internal/api/admin_handlers.go
  internal/api/api.go
  internal/api/source_handlers.go
  internal/db/db.go
  internal/db/source_test.go
  internal/models/source.go
  internal/models/source_errors.go
  internal/rss/rss.go
  static/css/app-consolidated.css
  static/css/components.css
  templates/admin.html
  templates/fragments/sources.html
  tests/e2e/source-management-comprehensive.spec.ts
  tests/e2e/source-management-focused.spec.ts
Due: go-fmt, go-vet, golangci-lint, staticcheck, go-unit-tests

fix: Add integrity check to HTMX script for security
  templates/admin.html
Due: none

fix: Address SonarCloud quality gate issues
  coverage
Due: none

fix: Improve accessibility in source management templates
  static/css/app-consolidated.css
  templates/fragments/sources.html
Due: none

feat: Add comprehensive unit tests for source management models
  internal/api/source_handlers_test.go
  internal/models/source_test.go
Due: go-fmt, go-vet, golangci-lint, staticcheck, go-unit-tests

fix: Add unit test coverage generation to SonarCloud workflow
  .github/workflows/sonarcloud.yml
Due: none

Fix CI/CD pipeline issues: CSS linting errors and SonarCloud test server binary
  .github/workflows/sonarcloud.yml
  static/css/app-consolidated.css
  static/css/components.css
Due: none
