Repository alexandru-savinov/BalancedNewsGo: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-fmt, go-vet, go-unit-tests

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

go-fmt:
  name: go fmt
  entry: go fmt
  language: system
  args:
  - ./...
  pass_filenames: false

go-vet:
  name: go vet
  entry: go vet
  language: system
  args:
  - ./...
  pass_filenames: false

go-unit-tests:
  name: go unit tests
  entry: bash
  language: system
  args:
  - -c
  ...

fix: Resolve CI/CD test I/O timeout by fixing server process management
  internal/llm/llm.go
  internal/testing/server_test_utils.go
  tests/api_integration_test.go
Due: go-fmt, go-vet, go-unit-tests

test: ensure server processes cleaned by killing process group
  internal/testing/server_test_utils.go
Due: go-fmt, go-vet, go-unit-tests

fix: Update TestBasicFunctionality to accept dynamic port range
  internal/testing/basic_test.go
Due: go-fmt, go-vet, go-unit-tests

feat: Add comprehensive test cleanup with garbage collection
  tests/api_integration_test.go
Due: none

feat: Add HTTP connection cleanup to prevent I/O timeout
  internal/testing/api_test_utils.go
  tests/api_integration_test.go
Due: go-fmt, go-vet, go-unit-tests

fix: COMPLETELY RESOLVE I/O timeout by fixing stdout/stderr pipes
  cmd/server/main.go
  internal/db/db.go
  internal/llm/progress_manager.go
  internal/testing/server_test_utils.go
Due: go-fmt, go-vet, go-unit-tests

fix: Resolve CI/CD Newman test failures
  .github/workflows/go-ci.yml
  scripts/generate_test_report.js
  scripts/test.sh
Due: none

Fix TestCreateArticleDuplicate test failure
  internal/api/api_test.go
Due: go-fmt, go-vet, go-unit-tests

Fix CI/CD test failures: race conditions and database schema issues
  cmd/server/template_handlers_api_test.go
  internal/api/api_handler_test.go
  internal/api/api_handlers_test.go
  internal/api/api_route_test.go
  internal/api/api_test.go
  migrations/001_init.up.sql
Due: go-fmt, go-vet, go-unit-tests

Fix comprehensive CI/CD test failures: mock expectations and race conditions
  internal/llm/llm_test.go
  internal/llm/score_manager_integration_test.go
Due: go-fmt, go-vet, go-unit-tests

Remove unused user management template code causing CI/CD failures
  internal/db/db.go
  internal/db/user.go
  internal/db/user_test.go
  migrations/002_create_users_table.up.sql
Due: go-fmt, go-vet, go-unit-tests

Fix integration test server startup failures - comprehensive solution
  internal/db/db.go
  internal/testing/server_test_utils.go
Due: go-fmt, go-vet, go-unit-tests

Implement robust server cleanup for CI/CD integration tests
  .github/workflows/ci.yml
  internal/testing/server_test_utils.go
Due: go-fmt, go-vet, go-unit-tests

feat: Implement CGO-free race detection using linters and goleak
  .github/workflows/ci.yml
  .golangci.yml
  Makefile
  go.mod
  go.sum
  internal/testing/concurrency_test_helper.go
  internal/testing/concurrency_test_helper_test.go
Due: go-mod-tidy, go-fmt, go-vet, go-unit-tests

fix: Replace bash loop with explicit commands in CI/CD workflow
  .github/workflows/ci.yml
Due: none

fix: Resolve all CI/CD linting errors
  .github/workflows/ci.yml
  .golangci.yml
  cmd/delete_mock_scores/main.go
  cmd/generate_report/main.go
  docs/concurrency-testing-guide.md
  docs/local_ci_workflow.md
  go.mod
  internal/api/api.go
  internal/api/api_handler_legacy_test.go
  internal/api/api_test.go
  internal/api/wrapper/client.go
  internal/api/wrapper/client_test_fixed.go
  internal/api/wrapper/methods.go
  internal/benchmark/benchmark.go
  internal/db/db.go
  internal/llm/composite_score_fix.go
  internal/llm/llm_test.go
  internal/llm/model_name_handling_test.go
  nbg-project-cursor-rules.mdc
Due: go-mod-tidy, go-fmt, go-vet, go-unit-tests

fix: Resolve remaining errcheck violations
  cmd/benchmark/main.go
  cmd/check_articles/main.go
  cmd/clear_articles/main.go
  cmd/test_htmx/main.go
  internal/api/client/articles_api.go
  internal/api/wrapper/client_test_fixed.go
Due: go-fmt, go-vet, go-unit-tests

fix: Resolve additional errcheck violations found in CI
  cmd/delete_mock_scores/main.go
  cmd/import_labels/main.go
  internal/db/db.go
Due: go-fmt, go-vet, go-unit-tests

Fix golangci-lint issues and remove PostgreSQL security vulnerabilities
  .github/workflows/ci.yml
  .golangci.yml
  .pre-commit-config.yaml
  Makefile
  cmd/benchmark/main.go
  cmd/generate_report/main.go
  cmd/server/main.go
  cmd/test_htmx/main.go
  cmd/test_version_schema/main.go
  cmd/validate_labels/main.go
  docs/precommit-setup.md
  go.mod
  go.sum
  internal/api/api.go
  internal/api/articles_test_example.go
  internal/api/articles_test_simple.go
  internal/api/client/articles_api.go
  internal/api/client/client.go
  internal/api/client/feeds_api.go
  internal/api/client/llm_api.go
  internal/api/emergency_stubs.go
  internal/api/wrapper/client_test_fixed.go
  internal/api/wrapper/methods.go
  internal/benchmark/benchmark.go
  internal/import_labels/main.go
  internal/llm/config.go
  internal/llm/ensemble.go
  internal/llm/llm.go
  internal/llm/service_http.go
  internal/testing/api_test_utils.go
  internal/testing/concurrency_test_helper.go
  internal/testing/coordinator.go
  internal/testing/database.go
  internal/testing/db_test_utils.go
  internal/testing/server_test_utils.go
  internal/tests/unit/test_utils.go
  test-precommit.cmd
  tools/check_coverage/main.go
  tools/copy_file/main.go
  tools/run_oasdiff_conditionally/main.go
Due: go-mod-tidy, go-fmt, go-vet, go-unit-tests

Fix errcheck issues in test files - proper error handling
  .golangci.yml
  cmd/server/template_handlers_api_test.go
  internal/api/api_handler_legacy_test.go
  internal/api/api_integration_test.go
  internal/api/api_route_test.go
  internal/api/wrapper/client_http_test.go
  internal/db/db_test.go
  internal/llm/ensemble_test.go
  internal/llm/llm_test.go
  internal/llm/open_router_errors_test.go
  internal/llm/score_manager_test.go
  internal/llm/service_http_test.go
  internal/testing/basic_test.go
  tests/api_integration_test.go
  tests/integration_test.go
  tools/run_oasdiff_conditionally/main.go
Due: go-fmt, go-vet, go-unit-tests

Fix Docker Build & Test job: add load parameter to make image available locally
  .github/workflows/ci.yml
Due: none

Fix Docker Build & Test: use correct Dockerfile.app for Go application
  .github/workflows/ci.yml
Due: none

Fix Dockerfile.app: copy templates/configs/static directly from build context
  Dockerfile.app
Due: none

Add debugging to Dockerfile.app to investigate templates directory issue
  Dockerfile.app
Due: none

Fix Docker build issue: Copy config files from builder stage consistently
  Dockerfile.app
Due: none

Add debugging to Docker build to check templates directory
  Dockerfile.app
Due: none

Fix Docker build: Add templates directory to git tracking
  .gitignore
  Dockerfile.app
  templates/admin.html
  templates/article.html
  templates/article_htmx.html
  templates/articles.html
  templates/articles_htmx.html
  templates/fragments/article-detail.html
  templates/fragments/article-items.html
  templates/fragments/article-list.html
  templates/fragments/error.html
  templates/fragments/summary.html
Due: none

Fix Docker container health check in CI/CD
  .github/workflows/ci.yml
Due: none

Fix unit test I/O timeout issue in CI/CD
  internal/testing/server_test_utils.go
  tests/api_integration_test.go
Due: go-fmt, go-vet, go-unit-tests

Fix linting error: check return value of tsm.cmd.Wait()
  internal/testing/server_test_utils.go
Due: go-fmt, go-vet, go-unit-tests

Improve Docker debugging and add health check flag
  .github/workflows/ci.yml
  cmd/server/main.go
Due: go-fmt, go-vet, go-unit-tests

Add health check test and fallback API key for Docker testing
  .github/workflows/ci.yml
Due: none

Fix Docker container file permission issues
  .github/workflows/ci.yml
  cmd/server/main.go
Due: go-fmt, go-vet, go-unit-tests

Fix config file loading for Docker containers
  internal/llm/config.go
Due: go-fmt, go-vet, go-unit-tests

Fix feed sources config loading for Docker containers
  cmd/server/main.go
Due: go-fmt, go-vet, go-unit-tests

Fix gosec G304 security linting errors in feed sources config loading
  cmd/server/main.go
Due: go-fmt, go-vet, go-unit-tests

Fix Docker container log file permission issue
  cmd/server/main.go
Due: go-fmt, go-vet, go-unit-tests

Fix Docker test environment variables
  .github/workflows/ci.yml
Due: none

Fix Docker container ENTRYPOINT issue
  .github/workflows/ci.yml
Due: none

Path conditions:
  go-mod-tidy: any of: ^go\.mod$, but not: ^(node_modules|p|backup)/
  go-fmt: any of: ^(cmd|internal)/.*\.go$, but not: ^(node_modules|p|backup)/
  go-vet: any of: ^(cmd|internal)/.*\.go$, but not: ^(node_modules|p|backup)/
  go-unit-tests: any of: ^(cmd|internal)/.*\.go$, but not: ^(node_modules|p|backup)/
